<div class = "login-container">
  <div class = "header">
    <ul class = "header-items">
      <li><a href="#">bookmark-manager</a></li>
      <li><a href="/signin">SIGN IN</a></li>
    </ul>
  </div>
  <div class="login-form-container">
    <div class = "login-form">
      <form>
        Email
        <br><input name="email" type="text"><br>
        Password
        <br><input name="password" type="password"><br>
        Confirm Password
        <br><input name="password" type="password"><br>
        <div class="login-form-down">
          <div class="login-options">
            <input type="checkbox" id="remember-me-checkbox" name="remember-me">
            <label for="remember-me-checkbox">I accept <a href="#">terms of use</a></label>
          </div>
          <div>
            <button class="btn btn-register">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class = "footer">
    <div class = "year">
      2021
    </div>
  </div>
</div>
