@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.login-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #000000DE;
}
.header-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 0;
  margin: 1em;
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 1.25px;
  color: #3F51B5;
}
.header{
  height: 10%;
}
.header-items a{
  color: #3F51B5;
}
form{
  width: 80%;
}
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.login-form{
  height: 24em;
  width: 30em;
  border: 1px solid #0000001F;
  border-radius: 0.3em;
  color: #00000099;
}
.login-form form input{
  border: 1px solid #0000001F;
  border-radius: 4px;
  width: 100%;
}
.header ul{
  list-style-type: none;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form #remember-me-checkbox{
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #000000DE;
}
.login-form-down{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.login-form button{
  top: 412px;
  left: 1026px;
  width: 98px;
  height: 53px;
  background-color: #3F51B5;
  color: white;
}
a{
  color: #000000DE;
}
.footer{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1em;
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #00000099;
}
#remember-me-checkbox{
  zoom: 1.4;
  width: auto;
  margin-right: 0.5em;
  height: auto;
}
input{
  height: 3em;
}
