<!--<p>bookmarks-list works!</p>-->
<div class="p-3 p-md-5 position-relative">
  <bm-bookmark *ngFor="let bookmark of bookmarks" [bookmark]="bookmark" (editButtonClicked)="onEditButtonClicked($event)"></bm-bookmark>
  <bm-new-bookmark (addButtonClicked)="onEditButtonClicked($event)"></bm-new-bookmark>
</div>

<div mdbModal #content="mdbModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="editedBookmark?.bookmarkId != null" class="modal-title" id="exampleModalLabel">Edit bookmark</h4>
        <h4 *ngIf="editedBookmark?.bookmarkId == null" class="modal-title" id="exampleModalLabel2">Add bookmark</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <input mdbInput type="hidden" id="bookmarkId" class="form-control" name="id" [(ngModel)]="editId" [value]="editedBookmark?.bookmarkId">
          <div class="md-form">
            <input mdbInput type="text" id="bookmarkTitle" class="form-control" name="title" [(ngModel)]="editTitle" [value]="editedBookmark?.title">
            <label for="bookmarkTitle">Title</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" id="bookmarkUrl" class="form-control" name="url" [(ngModel)]="editUrl" [value]="editedBookmark?.url">
            <label for="bookmarkUrl">Url</label>
          </div>
          <div class="md-form">
            <textarea class="md-textarea form-control" name="content" [(ngModel)]="editContent" rows="2" id="input_text" type="text" length="120" mdbCharCounter mdbInput [value]="editedBookmark?.content" ></textarea>
            <label for="input_text">Short note for link</label>
          </div>
          <div class="d-none">
            <button *ngFor="let tag of editedBookmark?.tags" type="button" class="btn btn-light tag btn-sm">{{tag.name}}</button>
            <div class="btn-group" mdbDropdown>
              <button mdbDropdownToggle type="button" mdbBtn color="light" class="dropdown-toggle btn-sm waves-light tag"
                      mdbWavesEffect>
                <span class="material-icons small">add</span> Add tag
              </button>
              <div class="dropdown-menu dropdown-primary">
                <a *ngFor="let tag of editedBookmark?.tags" class="dropdown-item" href="#">{{tag.name}}</a>
                <!--                  TODO: change "let tag of tags" for all user tags -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="editedBookmark?.bookmarkId != null" type="button" mdbBtn color="red" class="waves-light" (click)="onDeleteButtonClicked()" mdbWavesEffect>Delete bookmark</button>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="editBookmark()">Save changes</button>
      </div>
    </div>
  </div>
</div>
