.bookmark-icon {
  font-size: 2.5rem;
}

.bookmark-entry {
  border-bottom: 1px solid #eee;
}

.tag {
  border-radius: 10rem;
}

.edit-button {
  transition: opacity 200ms;
  opacity: 0;
}

.bookmark-entry:hover .edit-button {
  opacity: 100;
}
